<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/head :: headFragment">

    </head>

    <title th:text="${title}"></title>

    <body data-spy="scroll" data-target=".navbar-collapse">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='preloader' th:replace="fragments/preloader :: preloaderFragment"></div>

    <header th:replace="fragments/header :: headerFragment"></header>

    <main layout:fragment="customContents">
        <section id="service" class="service sections margin-top-120">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head_title text-center">
                            <!-- 검색 -->
                            <form th:action="@{/test/dataSearchResult}" method="get">
                                <div class="testsearch" style="margin-bottom: 20px; margin-top: 20px;  text-align: center">

                                    <div style="height: 100%">
                                        <select name="searchKey" >
                                            <option value="Description">Description</option>
                                            <option value="Title">Title</option>
                                            <option value="Identifier">Identifier</option>
                                            <option value="Providing_Institution">Providing_Institution</option>
                                        </select>
                                        <input type="text" class="search-bar" name="searchValue" placeholder="Please enter a search keyword."
                                               style="width: 350px; line-height: 39px; margin-right: -7px"/>
                                        <button type="submit" class="btn" style="margin-bottom: 23px; border-radius: 0px;">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="single_service_area  margin-top-80">
                            <div class="row">
                                <div id="CONTENTS">
                                    <div class="filters-title" id="totalResults" style="margin-bottom: 50px;">
                                        Total : &nbsp; [[${countData}]] items
                                        <!--<button class="btn btn-outline-primary mr-3 ">
                                            Reset
                                        </button>-->
                                    </div>
                                    <div class="LineInContents">
                                        <table class="testSearch">
                                            <tbody>
                                                <th:block th:if="${not #lists.isEmpty(dataList)}" th:each="l : ${dataList}">
                                                    <th:block  th:if="${not #lists.isEmpty(l.getFileList())}" th:each="f : ${l.getFileList()}">
                                                        <tr>
                                                            <td rowspan="5" th:width="230">
                                                                <a th:onclick="|location.href='@{'/test/dataSearchDetail'(Data_Code=${l.Data_Code})}'|" style="cursor:pointer;">
                                                                    <img th:src="@{${ '/' + #strings.replace(f.filePath, '\', '/')}}" class="card-img rounded-0" th:alt="${f.fileOriginalName}"/>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </th:block>
                                                    <th:block th:unless="${not #lists.isEmpty(l.getFileList())}">
                                                        <tr>
                                                            <td rowspan="5" th:width="230">
                                                                <img th:src="@{/assets/img/ImgNone.png}" class="card-img rounded-0"/>
                                                            </td>
                                                        </tr>

                                                        </tr>
                                                    </th:block>
                                                <tr>
                                                    <td id="tdIdentifier" th:text="Identifier" th:width="230"></td>
                                                    <td>
                                                        <a th:text="${l.Identifier}" th:onclick="|location.href='@{'/test/dataSearchDetail'(Data_Code=${l.Data_Code})}'|" style="cursor:pointer;">
                                                            None
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td th:text="Title"></td>
                                                    <td id="title" th:text="${l.Title}">
                                                        None
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td th:text="Description"></td>
                                                    <td id="desc" th:text="${l.Description}">
                                                        None
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td th:text="Providing_Institution"></td>
                                                    <td th:text="${l.Providing_Institution}">
                                                        None
                                                    </td>
                                                </tr>
                                                </th:block>
                                                <th:block th:unless="${not #lists.isEmpty(dataList)}" th:each="l : ${dataList}">
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>등록된 작품이 없습니다.</p>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <th:block layout:fragments="customCss">
        <style>

            td {
                padding: 10px;
                /*border-bottom: 1px solid #AAAAAA;*/
            }
            tr {
                border-bottom: 1px solid #AAAAAA;
            }
            img {
                margin: auto;
                display: block;
                max-width: 37%;
            }
            .testSearch{
                margin-bottom: 30px;
                width: 100%;
                /*border-bottom: 1px solid #AAAAAA !important;*/
                border-collapse: collapse;
            }
            #desc, #title{
                /*display: inline-block;*/
                display: block;
                width: 680px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .LineInContents {
                width: 98%;
                min-height: 50px;
                padding-top: 25px;
                padding-bottom: 25px;
                margin-left: 1%;
                margin-right: 1%;
                /*border-bottom: 1px solid #AAAAAA;*/
                clear: both;
                overflow: hidden;
                line-height: 160%;
            }
            #CONTENTS {
                width: 100%;
                max-width: 1140px;
                margin: auto;
            }

        </style>
    </th:block>

    <script type="text/javascript">


    </script>

    <footer th:replace="fragments/footer :: footerFragment"></footer>

    <!-- START SCROLL TO TOP  -->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

    <th:block th:replace="fragments/JavaScripts :: JSFragment"></th:block>

    </body>
</html>