<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/head :: headFragment">

    </head>

    <title th:text="${title}"></title>

    <body data-spy="scroll" data-target=".navbar-collapse">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='preloader' th:replace="fragments/preloader :: preloaderFragment"></div>

        <header th:replace="fragments/header :: headerFragment"></header>

        <main layout:fragment="customContents">
            <section id="service" class="service sections margin-top-120">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="head_title text-center">
                                <!-- 검색 -->
                                <form th:action="@{/test/searchResult}" method="get">
                                    <div class="testsearch" style="margin-bottom: 20px; margin-top: 20px; text-align: center">
                                        <select name="searchKey" hidden>
                                            <option value="art_description">설명</option>
                                            <option value="art_title">제목</option>
                                        </select>
                                        <div style="height: 100%">
                                            <input type="text" class="search-bar" name="searchValue" placeholder="검색키워드를 입력해주세요."
                                                   style="width: 350px; line-height: 39px; margin-right: -7px"/>
                                            <button type="submit" class="btn" style="margin-bottom: 23px; border-radius: 0px;">검색</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="single_service_area  margin-top-80">
                                <div class="row">
                                    <div id="CONTENTS">
                                        <div class="LineInContents">
                                            <th:block th:if="${not #lists.isEmpty(artWorkSearchList)}" th:each="l : ${artWorkSearchList}">
                                                <table class="testsearch" style="border-bottom: 1px solid #AAAAAA; margin-bottom: 30px;">
                                                    <thead>
                                                        <tr>
                                                            <td th:text="제목" th:width="100"></td>
                                                            <td>
                                                                <a th:text="${l.art_title}" th:href="@{'/test/searchDetail'(art_id=${l.art_id})}">
                                                                        제목 없음
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td th:text="제작연도"></td>
                                                            <td th:text="${l.art_year}">
                                                                연도 없음
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="설명"></td>
                                                            <td th:text="${l.art_description}">
                                                                설명 없음
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="재료"></td>
                                                            <td th:text="${l.art_material}">
                                                                재료 없음
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="기법"></td>
                                                            <td th:text="${l.art_technique}">
                                                                기법 없음
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="크기"></td>
                                                            <td th:text="${l.art_size}">
                                                                크기 없음
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th:block>
                                            <th:block th:unless="${not #lists.isEmpty(artWorkSearchList)}" th:each="l : ${artWorkSearchList}">
                                                <tr>
                                                    <td colspan="2">
                                                        <p>등록된 작품이 없습니다.</p>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <th:block layout:fragments="customCss">
            <style>
                .LineInContents {
                    width: 98%;
                    min-height: 50px;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    margin-left: 1%;
                    margin-right: 1%;
                    /*border-bottom: 1px solid #AAAAAA;*/
                    clear: both;
                    overflow: hidden;
                    line-height: 160%;
                }
                #CONTENTS {
                    width: 100%;
                    max-width: 1140px;
                    margin: auto;
                }

            </style>
        </th:block>

        <footer th:replace="fragments/footer :: footerFragment"></footer>

        <!-- START SCROLL TO TOP  -->
        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <th:block th:replace="fragments/JavaScripts :: JSFragment"></th:block>

    </body>
</html>