<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->

<html xmlns:th="http://www.thymeleaf.org">
      <!-- footer Section -->
      <footer id="footer" class="footer" th:fragment="footerFragment">
        <div class="container">
          <div class="main_footer">
            <div class="row">
              <div class="col-sm-12">
                <div class="copyright_text text-center">
                  <p class=" wow fadeInRight" data-wow-duration="1s">전라북도 전주시 덕진구 금암1동 권삼득로 285 <a target="_blank" href="https://cics.center">무형문화연구원</a>(O) 063-277-4097 (F)</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End of container -->
      </footer><!-- End of footer -->

</html>