<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.testsearch.mapper.SearchMapper">

    <resultMap id="DataResultMap" type="Data">
        <id     column="Identifier"                     property="Identifier"/>
        <result column="Objects"                    property="Objects"/>
        <result column="Title"                          property="Title"/>
        <result column="Subject"                        property="Subject"/>
        <result column="Description"                    property="Description"/>
        <result column="Institute_Identifier"           property="Institute_Identifier"/>
        <result column="Language"                       property="Language"/>
        <result column="Temporary"                      property="Temporary"/>
        <result column="Places"                         property="Places"/>
        <result column="Current_location"               property="Current_location"/>
        <result column="Object_Type"                    property="Object_Type"/>
        <result column="Object_Size"                    property="Object_Size"/>
        <result column="Object_Material"                property="Object_Material"/>
        <result column="Object_Etc"                     property="Object_Etc"/>
        <result column="Digital_Data_Type"              property="Digital_Data_Type"/>
        <result column="File_Extension"                 property="File_Extension"/>
        <result column="Coverage"                       property="Coverage"/>
        <result column="Creator"                        property="Creator"/>
        <result column="Publisher"                      property="Publisher"/>
        <result column="Provider"                       property="Provider"/>
        <result column="Providing_Institution"          property="Providing_Institution"/>
        <result column="Provider_Country"               property="Provider_Country"/>
        <result column="Source"                         property="Source"/>
        <result column="IsPartOf"                       property="IsPartOf"/>
        <result column="Links"                          property="Links"/>
        <result column="Rights_Statement_Media"         property="Rights_Statement_Media"/>
        <result column="Rights"                         property="Rights"/>
        <result column="Data_Code"                      property="Data_Code"/>
        <result column="userId"                         property="userId"/>
        <result column="Created_Time"                   property="Created_Time"/>
        <result column="Updated_Time"                   property="Updated_Time"/>
        <result column="Latitude"                       property="Latitude"/>
        <result column="Longitude"                      property="Longitude"/>

        <collection property="fileList" javaType="List" ofType="FileDto">
            <id column="fileIdx"                   property="fileIdx"/>
            <result   column="fileOriginalName"          property="fileOriginalName"/>
            <result column="fileNewName"             property="fileNewName"/>
            <result column="filePath"                property="filePath"/>
            <result column="fileSize"                property="fileSize"/>
        </collection>
    </resultMap>




    <!-- 통계 : Providing_Institution별 등록개수 -->
    <select id="getPICntList" resultType="map">
        SELECT
            Providing_Institution,
            COUNT(Providing_Institution) AS CNT
        FROM
            `data`
        GROUP BY Providing_Institution ORDER BY cnt DESC;

    </select>



    <select id="getDataCode" resultType="String">
        select
            substring(MAX(CAST(SUBSTRING_INDEX(Identifier,'-',-1) AS UNSIGNED))+1000001,2)
        from
            `data`
    </select>



    <select id="getRightStatementMedia" resultType="map">
        SELECT
            Rights_Statement_Media,
            COUNT(Rights_Statement_Media) AS R_Cnt
        FROM
            `data`
        GROUP BY Rights_Statement_Media ORDER BY R_Cnt DESC;
    </select>



    <!-- select box 선택별 data 검색 -->
    <select id="getSearchBySelectList_back_up" parameterType="map" resultType="map" resultMap="DataResultMap">
        SELECT
        d.Title,
        d.Subject,
        d.Description,
        d.Identifier,
        d.Object_Type,
        d.Object_Size,
        d.Digital_Data_Type,
        d.File_Extension,
        d.Rights_Statement_Media,
        d.Providing_Institution,
        d.Data_Code
        FROM
        `data` AS d

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="searchKey != null and searchKey !='' and searchValue != ''">
                AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            <if test="Providing_Institution != null and Providing_Institution !='' and Providing_Institution != ''">
                /*AND Providing_Institution=${Providing_Institution}*/
                AND Providing_Institution='National Fine Arts Museum'
            </if>
            <if test="Rights_Statement_Media != null and Rights_Statement_Media !='' and Rights_Statement_Media != ''">
                AND Rights_Statement_Media=${Rights_Statement_Media}
            </if>
            <if test="Digital_Data_Type != null and Digital_Data_Type !='' and Digital_Data_Type != ''">
                AND Digital_Data_Type=${Digital_Data_Type}
            </if>
            <if test="File_Extension != null and File_Extension !='' and File_Extension != ''">
                AND File_Extension=${File_Extension}
            </if>
        </trim>
        ;
    </select>


    <!-- select box 선택별 data 검색 -->
    <select id="getSearchBySelectList" parameterType="map" resultMap="DataResultMap">
        SELECT
        d.Title,
        d.Subject,
        d.Description,
        d.Identifier,
        d.Object_Type,
        d.Object_Size,
        d.Digital_Data_Type,
        d.File_Extension,
        d.Rights_Statement_Media,
        d.Providing_Institution,
        d.Data_Code,
        tf.fileIdx,
        tf.filePath,
        tf.fileOriginalName
        FROM
        `data` AS d
        INNER JOIN
        `tb_file_control` AS tfc
        ON
        d.Data_Code = tfc.referenceCode
        INNER JOIN
        `tb_file` AS tf
        ON
        tfc.fileIdx = tf.fileIdx
        where 1=1
        <if test="providingInstitutionList != null">
            AND d.Providing_Institution in
            <foreach collection="providingInstitutionList" item="providingInstitution" open="(" close=")" separator=",">
                #{providingInstitution}
            </foreach>
        </if>
        <if test="rightsStatementMediaList != null">
            AND d.Rights_Statement_Media in
            <foreach collection="rightsStatementMediaList" item="rightsStatementMedia" open="(" close=")" separator=",">
                #{rightsStatementMedia}
            </foreach>
        </if>
        <if test="objectTypeList != null">
            AND d.Object_Type in
            <foreach collection="objectTypeList" item="objectType" open="(" close=")" separator=",">
                #{objectType}
            </foreach>
        </if>
        <if test="digitalDateTypeList != null">
            AND d.Digital_Data_Type in
            <foreach collection="digitalDateTypeList" item="digitalDateType" open="(" close=")" separator=",">
                #{digitalDateType}
            </foreach>
        </if>
        <if test="fileExtensionList != null">
            AND d.File_Extension in
            <foreach collection="fileExtensionList" item="fileExtension" open="(" close=")" separator=",">
                #{fileExtension}
            </foreach>
        </if>
        ;
    </select>


    <!-- Data_Code로 data 상세 검색 -->
    <select id="getDataSearchDetailList" resultMap="DataResultMap">
        SELECT
            d.Identifier,
            d.Title,
            d.Subject,
            d.Description,
            d.Institute_Identifier,
            d.Language,
            d.Temporary,
            d.Places,
            d.Current_location,
            d.Object_Type,
            d.Object_Size,
            d.Object_Material,
            d.Object_Etc,
            d.Digital_Data_Type,
            d.File_Extension,
            d.Coverage,
            d.Creator,
            d.Participants,
            d.Publisher,
            d.Provider,
            d.Providing_Institution,
            d.Provider_Country,
            d.Latitude,
            d.Longitude,
            d.Collection_Name,
            d.Source,
            d.IsPartOf,
            d.Links,
            d.Rights_Statement_Media,
            d.Rights,
            d.Data_Code,
            d.Created_Time,
            d.Updated_Time,
            f.fileIdx,
            f.filepath,
            SUBSTRING_INDEX(f.fileOriginalName, '.',1)
        FROM
            `data` AS d
                LEFT JOIN
            `tb_file_control` AS fc
            ON
                d.Data_Code = fc.referenceCode
                LEFT JOIN
            `tb_file` AS f
            ON
                fc.fileIdx = f.fileIdx
        WHERE
            d.Data_Code = #{Data_Code};

    </select>


    <!-- data 검색 개수 -->
    <select id="countSearchData" parameterType="map" resultType="int">
        /* SELECT COUNT(c.Description + c.Title + c.Identifier + c.Providing_Institution) AS cnt */
        SELECT COUNT(c.Description) AS cnt
        FROM(
                SELECT
                    d.Title,
                    d.Subject,
                    d.Description,
                    d.Identifier,
                    d.Object_Type,
                    d.Object_Size,
                    d.Digital_Data_Type,
                    d.File_Extension,
                    d.Rights_Statement_Media,
                    d.Providing_Institution
                FROM
                    `data` AS d
                WHERE
                    DESCRIPTION LIKE CONCAT('%', #{searchValue}, '%')
            ) AS c;

    </select>


    <!-- data 검색 -->
    <select id="getDataSearchList" parameterType="map" resultMap="DataResultMap">
        SELECT
        d.Title,
        d.Subject,
        d.Description,
        d.Identifier,
        d.Providing_Institution,
        d.Object_Type,
        d.Object_Size,
        d.Created_Time,
        d.Data_Code,
        d.Latitude,
        d.Longitude,
        tf.fileIdx,
        tf.filePath,
        tf.fileOriginalName
        FROM
        `data` AS d
        INNER JOIN
        `tb_file_control` AS tfc
        ON
        d.Data_Code = tfc.referenceCode
        INNER JOIN
        `tb_file` AS tf
        ON
        tfc.fileIdx = tf.fileIdx
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="searchKey != null and searchKey !='' and searchValue != ''">
                AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
            </if>
        </trim>
        ;
    </select>


    <!-- data 목록 조회 -->
    <select id="getDataList" resultMap="DataResultMap">
        SELECT
            d.Title,
            d.Identifier,
            d.Description,
            d.Object_Type,
            d.Created_Time,
            d.Data_Code,
            d.Providing_Institution,
            tf.fileIdx,
            tf.filePath,
            tf.fileOriginalName
        FROM
            `data` AS d
                INNER JOIN
            `tb_file_control` AS tfc
            ON
                d.Data_Code = tfc.referenceCode
                INNER JOIN
            `tb_file` AS tf
            ON
                tfc.fileIdx = tf.fileIdx;
    </select>


</mapper>